<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjqwkj.uid.mapper.WorkerNodeMapper">
	<resultMap id="workerNodeRes"
			   type="com.fjqwkj.uid.domain.WorkerNodeEntity">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="HOST_NAME" jdbcType="VARCHAR" property="hostName" />
		<result column="PORT" jdbcType="VARCHAR" property="port" />
		<result column="TYPE" jdbcType="INTEGER" property="type" />
		<result column="LAUNCH_DATE" jdbcType="DATE" property="launchDate" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="modified" />
		<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="created" />
	</resultMap>

	<insert id="addWorkerNode" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.fjqwkj.uid.domain.WorkerNodeEntity">
		<selectKey keyProperty="id" order="BEFORE" resultType="Long">
			select SEQ_WORKER_NODE.nextval as id from DUAL
		</selectKey>
		INSERT INTO WORKER_NODE
		(
		<if test="id != null and id != 0">ID,</if>
		HOST_NAME,
		PORT,
		TYPE,
		LAUNCH_DATE,
		UPDATE_TIME,
		CREATE_TIME)
		VALUES (
		<if test="id != null and id != ''">#{id},</if>
		#{hostName},
		#{port},
		#{type},
		#{launchDate},
		SYSDATE,
		SYSDATE)
	</insert>

	<select id="getWorkerNodeByHostPort" resultMap="workerNodeRes">
		SELECT
		ID,
		HOST_NAME,
		PORT,
		TYPE,
		LAUNCH_DATE,
		UPDATE_TIME,
		CREATE_TIME
		FROM
		WORKER_NODE
		WHERE
		HOST_NAME = #{host} AND PORT = #{port}
	</select>
</mapper>